.overlay {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
  }

  .innerOverlay {
    width: 90%; 
    height: auto; 
    background-color: white; 
    border-radius: 0.75rem; 
    font-family: 'Poppins', sans-serif; 
  
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
 
    gap: 1.25rem; 
  }
  

  @media (min-width: 640px) {
    .innerOverlay {
      width: 70%; 
      padding-left: 1.25rem; 
      padding-right: 1.25rem; 
      padding-top: 0.625rem; 
      padding-bottom: 0.625rem;
      gap: 1.25rem; 
    }
  }
  
  @media (min-width: 768px) {
    .innerOverlay {
      width: 60%; 
     padding: 2rem;
      gap: 2.5rem; 
    }
  }
  
  @media (min-width: 1280px) {
    .innerOverlay {
      width: 50%;
    }
  }
  


  .contDiv{
    display: flex;
    flex-direction: column;
    gap: 1.75rem; /* gap-7 equivalent (gap is multiplied by 0.25rem) */
  }
  .customContainer {
    display: flex;
    align-items: center;
    gap: 1.25rem; /* gap-5 equivalent (gap is multiplied by 0.25rem) */
  }
  

  .input {
    border: 1px solid #E2E2E2;
    width: 100%;
    outline: none;
    padding: 0.5rem 1.25rem;
    border-radius: 0.375rem;
    margin-top: 1rem;
  }
  .priortiyDiv {
    display: flex;
    align-items: center;
    gap: 1.75rem; 
  }
  .choose {
    display: flex;
    align-items: center;
    gap: 0.5rem; 
    border: 1px solid #E2E2E2; 
    padding: 0.25rem 0.75rem; 
    border-radius: 0.375rem; 
  }
  .dot{
    height: 10px; 
    width: 10px; 
    border-radius: 9999px;
  }
  .high{
    background-color: red;
  }
  .moderate{
    background-color: #17A2B8;
  }
  .low{
    background-color: #63C05B;
  }
  .textPriority {
    font-size: 0.875rem; 
    color: #767575; 
    cursor: pointer;
  }
  .outer {
    display: flex;
    flex-direction: column;
    gap: 1.25rem; 
    width: 100%; 
  }
  .inner {
    width: 100%;
    display: flex;
    gap: 1.25rem;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #E2E2E2;
    padding: 0 1.25rem; 
    border-radius: 0.375rem;
  }
  
  .inputcustom {
    display: flex;
    gap: 0.75rem; 
    align-items: center;
    width: 100%; 
  }
  .taskinput {
    padding: 0.375rem 0; 
    width: 100%;
    font-size: 0.875rem;
    outline: none;
  }
  .deleteDiv {
    cursor: pointer;
    display: inline-block;
  }
  .heading {
    font-size: 1rem;
    font-weight: 600; 
  }
  
  .subTodosContainer{
    /* border: 1px solid red; */
    max-height: 150px;
    overflow-y: scroll;
  }
  .subTodosContainer::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
  }
  
  .subTodosContainer::-webkit-scrollbar-track {
    background: transparent; /* Set the background color of the scrollbar track */
  }
  
  .subTodosContainer::-webkit-scrollbar-thumb {
    background: #E2E2E2; /* Set the color of the scrollbar thumb */
    border-radius: 5px; /* Set the border radius of the scrollbar thumb */
  }
  
  
  
  
  .custom {
    color: #767575; 
    font-size: 0.875rem;
    text-align: start; 
    display: flex;
    align-items: center;
    gap: 0.75rem; 
  }
  
  .customflex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem; 
  }
  
  .duebtn {
    padding: 0.5rem 2rem;
    border: 1px solid #E2E2E2; 
    border-radius: 0.375rem; 
    color: #707070; 
    font-size: 0.875rem;
    font-weight: 600;
  }
  
  .customBtn {
    padding: 0.5rem 2.5rem;
    border-radius: 0.375rem; 
    color: #CF3636; 
    font-size: 0.875rem; 
    font-weight: 600;
    border: 1px solid #CF3636; 
  }
  .saveBtn {
    padding: 0.5rem 2rem; 
    border-radius: 0.375rem; 
    font-size: 0.875rem; 
    background-color: #17A2B8; 
    font-weight: 600; 
    color: #fff;
  }
  
  
.btn{
    display: flex;
    align-items: center;
    gap: 0.75rem; 
  }
  
  .fixedCenter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 0.375rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    z-index: 10;
  }
  
  