.modalBackground {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
  }
  
  .modalContent {
    width: 90%;
    max-width: 30rem;
    margin: 0 auto;
    background-color: white;
    border-radius: 0.75rem;
    font-family: 'Poppins', sans-serif;
    padding: 2.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
  }
  
  .modalTitle {
    font-size: 1.125rem;
    font-weight: 600;
    text-align: center;
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
  }
  
  .yesButton,
  .cancelButton {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.75rem;
    font-size: 0.875rem;
    font-weight: 600;
  }
  
  .yesButton {
    background-color: #17a2b8;
    color: white;
  }
  
  .cancelButton {
    border: 1px solid #cf3636;
    color: #cf3636;
  }
  