
  .parentContainer{
    background-color:#F2F2F2 ;
    height: 100vh;
    width:100% ;
display: flex;
justify-content: center;
align-items: center;

}
.leftContainer{
    width: 60%;
    height: 100%;
    background-color: #17A2B8;
    display: flex;
justify-content: center;
align-items: center;
}

.textRegister{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    
}
.innerContainer{
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
    background-color: white;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainContainer{
    width: 100%;
    height: fit-content;
    padding: 0 5rem;
}
.heading{
    font-weight: 400;
    font-size: 100px;
    font-family: 'Jomhuria', serif;
    height: fit-content;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth{
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
   padding: 0.3rem 5rem 0.3rem 5rem;
   background-color: #ffffff; 
    border: 0;
    
}
.signBtn{
    border-radius: 0.7rem;
    background-color: #ffffff; /* Set your background color */
    box-shadow: 0px 0px 50px 0px rgba(0, 25, 255, 0.24);
}
.signBtn:hover{
    background-color: #A9BCFF;
}
.loginBtn:hover{
    border-radius: 0.7rem;
    box-shadow: 0px 0px 50px 0px rgba(0, 25, 255, 0.24);
    background-color: #A9BCFF;
}
.btnContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
gap: 30px;
}
.label{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    width: 30%;
    text-align: end;
}
.input{
    border: 0;
    width: 100%;
    padding-top:9px;
    padding-bottom: 9px;
    outline: none;
}
.formConatiner{
    width: 100%;
    display: flex ;
    flex-direction: column;
    gap: 1.5rem;
    margin: 3rem auto 2rem auto;
}
.inputConainer{
 padding: 1px 1rem;
    border:1.38px solid #D0D0D0;
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 5px;
}
.icon{
    color:#D0D0D0 ;
    cursor: pointer;
}
.subitBtn{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color:  #17A2B8;
  padding: 0.5rem 9rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  width: 100%;
}
.signbtnContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;
}
.haveAnAccount{
    width: 100%;
    text-align: center;
    cursor: pointer;
    color: #828282;
}
.goToLogin{
    color: #17A2B8;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #17A2B8;
    padding: 0.5rem 9rem;
    border-radius: 1rem;
    cursor: pointer;
    background-color: white;
}
@media screen and (max-width: 480px) {
    .innerContainer{
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
        background-color: white;
        width: 90%;
        height: fit-content;
        border-radius: 0.8rem;
    }
    .auth{
        border-radius: 0.7rem;
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 600;
       padding: 0.3rem 2rem 0.3rem 2rem;
       background-color: #ffffff; 
        border: 0;
        
    }
    .signBtn{
        border-radius: 0.7rem;
        background-color: #ffffff; /* Set your background color */
        box-shadow: 0px 0px 50px 0px rgba(0, 25, 255, 0.24);
    }
    .signBtn:hover{
        background-color: #A9BCFF;
    }
    .loginBtn:hover{
        border-radius: 0.7rem;
        box-shadow: 0px 0px 50px 0px rgba(0, 25, 255, 0.24);
        background-color: #A9BCFF;
    
    }
    .btnContainer{
        /* width: 100%; */
        /* display: flex;/ */
        /* justify-content: center; */
        /* align-items: center; */
    gap: 10px;
    }
    .subitBtn{
        font-size: 14px;
        font-weight: 600;
        padding: 0.5rem 5rem;
        border-radius: 0.5rem;
      }
      .inputConainer{
    
        display: flex ;
        flex-direction: column;
        justify-content: end;
        align-items: start;
        gap: 0.5rem;
    }
      .label{
        font-size: 14px;
        font-weight: 600;
        width: 100%;
        text-align: start;
    }
    .input{
        width: 100%;
        padding-top:9px;
        padding-bottom: 9px;
        border-top-left-radius: 0.5rem;
        border-top-right-radius:  0.5rem;
    }
    .formConatiner{
        width: 90%;
        gap: 0.8rem;
        margin: 2rem auto 1rem auto;
        
    }
  }
 